
<h1 class="center-align">Reviews & Ratings</h1>



<table class="highlight responsive-table">
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Location</th>
      <th>Rating</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @ratings.each do |rating| %>
    <tr>
      <td><%= rating.title %></td>
      <td><%= rating.place %></td>
      <td><%= rating.rate %></td>
      <td><%= link_to 'View', rating_path(rating), {class: "btn blue"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
